@font-face {
    font-family: "GlacialIndifference";
    src: url("/static/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

body {
	font-family: "GlacialIndifference";/*, sans-serif;*/
	font-size: large;
}

h2 {
	display: inline-block;
}

#logout_form {
	display: inline-block;
}

input, textarea {
	color: #000;
	background-color: #fff;
	border-color: #bbb;
	border-width: 1px;
	border-radius:2px;
}

button {
	color: #000;
	background-color: #eee;
	border-color: #ccc;
	border-width: 1.5px;
	border-radius: 2px;
}

.header {
	display:flex;
	flex-direction: row;
}
	
#add_pin_panel{
	display: none;
}

.pin_container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.pin {
	display: block;
	padding: 0.4em;
	box-shadow: 2px 2px 4px 2px #aaa;
	margin: 0.5em;
}

.logo {
	color: #000;
	font-size: 2em;
	text-decoration: none;
}

