@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/Montserrat-Regular.eot");
    src: url("/static/fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
         url("/static/fonts/Montserrat-Regular.woff2") format("woff2"),
         url("/static/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "NotoSans";
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/NotoSans-Regular.eot");
    src: url("/static/fonts/NotoSans-Regular.woff2") format("woff2"),
    	 url("/static/fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "IBMPlex";
    font-weight: 400;
    font-style: normal;
    src: url("/static/fonts/IBMPlexSans-Light.eot") format("woff");
    src: url("/static/fonts/IBMPlexSans-Light.woff2") format("woff2"),
    	 url("/static/fonts/IBMPlexSans-Light.woff") format("woff");
}


/********************** Theme switch *************************/
#theme_switch {
	font-size: 3em;
	margin: 1em;
}

#top_div {
	--background-color:#fff;
	--color:#000;
	--color-a:#339;
	--color-a-visited:#333;
	--color-light-shadow: #eee;
	--color-shadow: #aaa;
}

input#theme_switch:checked ~ #top_div{
	--color:#f7f7f7;
	--background-color: #222;
	--color-a:#b7b7ff;
	--color-a-visited:#d7d7d7;
	--color-light-shadow: #171717;
	--color-shadow: #151515;
}



/********************** General *************************/

body {
	font-family: "NotoSans";/*, sans-serif;*/
	font-size: large;
	padding: 0;
	margin: 0;
}

a:visited{
	color:var(--color-a-visited);
}

a {
	color:var(--color-a);
}

h2 {
	display: inline-block;
}

input, textarea {
	color: var(--color);
	background-color: var(--background-color);
	border-color: #bbb;
	border-width: 1px;
	border-radius:2px;
	margin: auto;
	font-size:medium;
}

.button {
	font-family: "Montserrat";/*, sans-serif;*/
	padding: 0.3em;
	margin: 0.5em;
	min-width: 5em;
	display: inline-block;
	font-size: 0.9em;
	color: #000;
	background-color: #eee;
	border-color: #ccc;
	border-width: 1.5px;
	border-radius: 2px;
}

form {
	height: 100%;
}

.contents {
	min-height:100vh;
	color: var(--color);
	height: auto;
	padding-bottom: 90px;
	background-color:var(--background-color);
}

.markdown_content {
	padding: 0.5em 2em ;
}

/********************** Header *************************/

#header {
	display:flex;
	flex-direction: row;
	box-shadow: 2px 0px 8px 0px var(--color-shadow);
	background-color:var(--background-color);
	height:3.2em;
}

#header .button {
	height: 60%;
}

.logo {
	padding: 0.25em 0 ;
	padding-left: 0.5em;
	font-family: "Montserrat";
	font-weight: bold;
	color: var(--color);
	font-size: 2em;
	text-decoration: none;
	margin-right: 2em;
	margin-top: 0.2em;
}

#logout_form {
	display: inline-block;
}

.header_section {
	font-family: "Montserrat";
	font-size: 1.2em;
	padding: 0 1em;
	margin-top: 1.3em;
}

#header input {
	margin: 0.8em auto;
	width: 30%;
	height: 80%;
	box-shadow: inset 0px 0px 4px 4px var(--color-light-shadow);
	padding-left: 1em;
	border: 1px solid var(--color-shadow);
	background-color: #00000000;
}

/********************** Pins *************************/
.tutorial {
	font-size: 1.1em;
	padding:30px;
	box-shadow: 2px 2px 4px 2px var(--color-shadow);
	width: 400px;
	display:inline-block;
	margin: 150px 300px;
}

.pin_container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0.5em;
}

.pin {
	display: block;
	font-size: small;
	padding: 0.7em;
	box-shadow: 1px 1px 4px 2px var(--color-shadow);
	margin: 0.5em;
	font-family: "Montserrat";/*, sans-serif;*/
	line-height: 1.5;
}

.pin_title {
	font-size: medium;
	font-weight: bold;
	font-family: "NotoSans";/*, sans-serif;*/
}

.pin_tags a {
	font-family: IBMPlex;
	font-size: small;
	padding-right: 0.5em;
}

.pin_links a{
	font-size: small;
	padding: 0 0.15em ;
}

.pin_links i {
	color: #666;
}

.pin_description {
	margin: -8px 0;
}

.delete_confirm_button {
	display: inline-block;
	transition: visibility 0.2s;
	visibility:hidden;
}

.delete_button:focus{
	outline: none;
}

.delete_button:focus i{
	color:#a72222;
}

.delete_button:focus + .delete_confirm_button{
	visibility:visible;
}

.warning_button {
	background-color: #d72222;
	border: 0;
	color: #fff;
}

/********************** Tags *************************/

#tag_bar_container {
	float: right;
	padding: 1em;
	width: 300px;
}

#tag_bar {
	font-family: IBMPlex;
	display: grid;
	grid-template-columns: 1fr 1fr;
}	

.rendered_in {
	font-color: var(--color);
	font-size:small;
	float:right;
}

/********************** Add Pin Panel *************************/

#add_pin_panel{
	color:var(--color);
	position:fixed;
	bottom: 0;
	height: 80px;
	margin: 0;
	width: 100%;
	box-shadow: -2px 2px 4px 2px var(--color-shadow);
	background-color: var(--background-color);
	display:flex;
	flex-direction:row;
}

#add_pin_panel .button {
	height: 60%;
}

#add_pin_panel h3 {
	font-family: "Montserrat";/*, sans-serif;*/
	font-weight: bold;
	font-size: 1.0em;
	margin: auto 1em;
}


/********************** Font Awesome *************************/
/*!
 * Font Awesome Free 5.8.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(/static/fonts/fa-solid-900.eot);src:url(/static/fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(/static/fonts/fa-solid-900.woff2) format("woff2"),url(/static/fonts/fa-solid-900.woff) format("woff"),url(/static/fonts/fa-solid-900.ttf) format("truetype")}.fa,.fas{font-family:"Font Awesome 5 Free";font-weight:900}
