<html>
	<head>
		<meta charset="utf-8"/> 
		<link rel="icon" type="image/png" href="/static/favicon.png">
  		<link rel="stylesheet" href="/static/fontawesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script>
			document.getElementsByTagName("body")[0].style.display = "none";
			document.onreadystatechange = function(){
				document.getElementsByTagName("body")[0].style.display = "block";
			}
		</script>

		{{#if logged_in}}
		<script>
		function onSearchChange() {
    		var key = window.event.keyCode;

    		// If the user has pressed enter
    		if (key === 13) {
        		document.location = "/?search=" + encodeURIComponent(document.getElementById("search_box").value);
        		return false;
    		}
    		else {
        		return true;
    		}
		}
		</script>
		{{/if}}

	</head>
	<body>
	<input type="checkbox" id="theme_switch" style="display:none"/> <!-- style="position:absolute; top:-9999px">-->
	<div id="top_div">
	<div id="header">
		<a href="/" class="logo">Recen.se</a>
		<a href="/todo" class="header_section">To-Do</a>
		<a href="/faq" class="header_section">FAQ</a>

		{{#if logged_in}}
		<input id="search_box" rows=1 placeholder="Search..." onkeydown="onSearchChange();" value="{{search_term}}">
		<label for="theme_switch" style="display:block;">Theme Switch</label>
		<form id="logout_form" action="/logout" method="POST">
  			<button type="submit">Logout {{username}}</button>
		</form>
		{{/if}}
	</div>

	<div class="contents">

