<html>
	<head>
		<meta charset="utf-8"/> 
		<link rel="icon" type="image/png" href="/static/favicon.png">
  		<link rel="stylesheet" href="/static/fontawesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script>
			// Cookie manipulation, used for theming
			function createCookie(name,value,days) {
				var date = new Date();
				date.setTime(date.getTime()+(days*24*60*60*1000));
				var expires = "; expires="+date.toGMTString();
				document.cookie = name+"="+value+expires+"; path=/";
			}

			function readCookie(name) {
				var nameEQ = name + "=";
				var ca = document.cookie.split(';');
				for(var i=0;i < ca.length;i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			}

			function onThemeSwitchClicked() {
				var current_theme = readCookie("theme");
				if(current_theme == "dark"){
					createCookie("theme", "light", 30000);
				}else{
					createCookie("theme", "dark", 30000);
				}
			}

			// On document load...
			window.onload = function(){
				if(readCookie("theme") == "dark") {
					document.getElementById("theme_switch").checked = true;
				}
			};

		</script>

		{{#if logged_in}}
		<script>
		function onSearchChange() {
    		var key = window.event.keyCode;

    		// If the user has pressed enter
    		if (key === 13) {
        		document.location = "/?search=" + encodeURIComponent(document.getElementById("search_box").value);
        		return false;
    		}
    		else {
        		return true;
    		}
		}
		</script>
		{{/if}}

	</head>
	<body>
	<input type="checkbox" id="theme_switch" style="display:none" onclick="onThemeSwitchClicked()"/> <!-- style="position:absolute; top:-9999px">-->
	<div id="top_div">
	<div id="header">
		<a href="/" class="logo">Recen.se</a>
		<a href="/todo" class="header_section">To-Do</a>
		<a href="/faq" class="header_section">FAQ</a>

		{{#if logged_in}}
		<input id="search_box" rows=1 placeholder="Search..." onkeydown="onSearchChange();" value="{{search_term}}">
		<label for="theme_switch" style="display:block;" class="button">Switch Theme</label>
		<form id="logout_form" action="/logout" method="POST">
  			<button type="submit" class="button">Logout {{username}}</button>
		</form>
		{{/if}}
	</div>

	<div class="contents">

