{{>common_header}}

<form id="edit_pin_form" action="/edit_pin_data" method="POST">
	<input type="hidden" name="id" value="{{pin.id}}">
	<div>Title <input type="text" name="title" value="{{pin.title}}"></div>
	<div>Url <input type="text" name="url" value="{{lookup pin.urls 0}}"></div>
	<div>Tags <input type="text" name="tags" value="{{#each pin.tags}}{{.}} {{/each}}"></div>
	<div class="label_top">Description</div> <textarea form="edit_pin_form" name="description">{{pin.description}}</textarea>
	<br/>
	<button class="button" type="submit"><i class="fas fa-edit"></i>&nbsp;Save</button>
</form>

{{>common_footer}}
