<html>
<body>
	<div id="header">
		<div id="logo">Pinroar</div>

		<a href="#">Add Pin</a>

		<textarea rows=1 placeholder="Search..."></textarea>
		<form action="/logout" method="POST">
  			<button type="submit">Logout {{username}}</button>
		</form>
	</div>

	<div id="add_pin_panel">
		<form action="/add_pin" method="POST">
			<input type="text" name="title" placeholder="Title...">
			<input type="text" name="url" placeholder="Url...">
			<input type="text" name="description" placeholder="Description...">
			<input type="text" name="tags" placeholder="Tags...">
		
			<input type="checkbox" name="starred">
 			<label for="starred">Star</label>

			<input type="checkbox" name="unread">
 			<label for="unread">To Read</label>
  			<button type="submit">Add Pin</button>
		</form>
	</div>

	{{#each pins}}
		{{> pin}}
	{{/each}}

</body>
</html>
