<html>
	<head>
		{{>common_header}}
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<script>
			document.getElementsByTagName("body")[0].style.display = "none";
			document.onreadystatechange = function(){
				document.getElementsByTagName("body")[0].style.display = "block";
			}
		</script>
	</head>
	<script>
	function onSearchChange() {
    	var key = window.event.keyCode;

    	// If the user has pressed enter
    	if (key === 13) {
        	document.location = "/?search=" + encodeURIComponent(document.getElementById("search_box").value);
        	return false;
    	}
    	else {
        	return true;
    	}
	}
	</script>
<body>
	<div id="header">
		{{>logo}}

		<a onclick="document.getElementById('add_pin_panel').style.display = 'block'">Add Pin</a>
		<a href="/todo">To-Do</a>
		<a href="/faq">FAQ</a>

		<input id="search_box" rows=1 placeholder="Search..." onkeydown="onSearchChange();" value="{{search_term}}">
		<form id="logout_form" action="/logout" method="POST">
  			<button type="submit" style="display:block">Logout {{username}}</button>
		</form>
	</div>


	<div id="add_pin_panel">
		<form action="/add_pin" method="POST">
			<input type="text" name="title" placeholder="Title...">
			<input type="text" name="url" placeholder="Url...">
			<input type="text" name="description" placeholder="Description...">
			<input type="text" name="tags" placeholder="Tags...">
  			<button type="submit">Add Pin</button>
		</form>
	</div>

	<div class="tags">
	{{#each tags}}
	<a href="/?search={{lookup . 0}}">{{lookup . 0}}({{lookup. 1}})</a>
	{{/each}}
	</div>

	<div class="pin_container">
		{{#if (eq pin_count 0)}}
			<div class="tutorial">Press Add Pin at the top to add your first pin!</div>
		{{else}}
			{{#each pins}}
				{{> pin}}
			{{/each}}
		{{/if}}
	</div>

</body>
</html>
