{{>common_header}}

<div id="tag_bar_container">
	<div class="rendered_in">Rendered in {{elapsed_time}} ms</div>

	<h3>Tags</h3>
	<div id="tag_bar">
		{{#each tags}}
		<a href="/?search={{lookup . 0}}" style="font-size:{{lookup . 2}}px;">{{lookup . 0}}({{lookup. 1}})</a>
		{{/each}}
	</div>

</div>

<div class="pin_container">
	{{#if (eq pin_count 0)}}
		{{#if (is_empty_string search_term) }}
			<div class="tutorial">Press Add Bookmark at the top to add your first bookmark!</div>
		{{else}}
			<div class="tutorial">No bookmarks found that match search "{{search_term}}"</div>
		{{/if}}
	{{else}}
		{{#each pins}}
			{{> pin}}
		{{/each}}
	{{/if}}
</div>
{{>common_footer}}

