<div class="pin">
	<div class="pin_title">
		<a href="{{#if (is_empty_string (lookup urls 0))}}view/{{id}}{{else}}{{lookup urls 0}}{{/if}}">
			{{#if (is_empty_string title)}}
				{{lookup urls 0}}
			{{else}}
			{{title}}
			{{/if}}	
		</a>
	</div>
	<div class="pin_description">
		{{short_description}}
	</div>
	
	<div class="pin_tags">
		{{#each tags}}
		<a href="/?search={{.}}">{{.}}</a>
		{{/each}}
	</div>
	<div class="pin_subtitle">
	</div>
	<div class="pin_links">{{format_time created}} 
		<a href="/view/{{id}}">View</a> 
		<a href="">Edit</a> 
		<a href="">Delete</a>
	</div>
</div>
